mat-card {
    width: 1300px;
    height: 700px;
    padding: 20px;
}

mat-card-content {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-card {
    width: 150px;
    height: 150px;
    background-color: gold;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
}

img,h3 {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

mat-card-footer {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}