<mat-card>
    <mat-card-title>
        <h1>{{pokemonName | titlecase}}</h1>
    </mat-card-title>
    <mat-card-content>
        <div class="pokemon-profile">
            <img *ngIf="pokemonInfo" [src]="pokemonInfo.sprites.front_default" [alt]="pokemonName | titlecase">
        </div>
        <div class="pokemon-info" *ngIf="pokemonInfo">
            <div>
                <p><strong>Weight:</strong> {{ pokemonInfo.weight }}</p>
                <p><strong>Height:</strong> {{ pokemonInfo.height }}</p>
                <p><strong>Base Experience:</strong> {{ pokemonInfo.base_experience }}</p>
                <p><strong>Abilities:</strong></p>
                <ul>
                    <li *ngFor="let ability of pokemonInfo.abilities">{{ ability.ability.name | titlecase }}</li>
                </ul>
            </div>
            <div>
                <p><strong>Moves:</strong></p>
                <ul>
                    <li *ngFor="let move of pokemonInfo.moves | slice:0:10">{{ move.move.name | titlecase }}</li>
                </ul>
            </div>
            <div>
                <p><strong>Stats:</strong></p>
                <ul>
                    <li *ngFor="let stat of pokemonInfo.stats">{{stat.stat.name | titlecase}}: {{ stat.base_stat }}
                    </li>
                </ul>
                <p><strong>Types:</strong></p>
                <ul>
                    <li *ngFor="let type of pokemonInfo.types">{{type.type.name | titlecase}}</li>
                </ul>
            </div>
        </div>
    </mat-card-content>
</mat-card>